/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav i {
  font-size: 26px;
  width: 50px;
  cursor: pointer;
}

nav i:hover {
  color: red;
}
